Q1. Explain with an example each when to use a for loop and a while loop.

Answer 1>  We use for loop when we have to execute an operation for fixed number of times. While loop is used to execute the operation until the described limit is reached or the condition is met.

"""Example of for loop- print all the numbers present in the list"""

In [1]:
l=[1,2,3,4,5]

In [2]:
# Example of for loop- print all the numbers present in the list
for i in l:
    print(i)

1
2
3
4
5

Example of while loop to get first 10 natural numbers.

In [25]:
# Example of while loop to get first 10 natural numbers.
result=1
start_point=0
while start_point<=9:
    result= result + start_point
    start_point= start_point+1
    print(start_point)

1
2
3
4
5
6
7
8
9
10

********************************

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [61]:
# Sum of first 10 natural numbers using for loop 

n=10
l=[]

for i in list(range(n)):
              l.append(i)
start_point=1
result=0
for i in l:
    result=result+start_point
    start_point=start_point+1
print(result)

55

In [3]:
# Product of first 10 natural numbers using for loop

n=10
l=[]

for i in list(range(n)):
              l.append(i)
start_point=1
result=1
for i in l:
    result= result*start_point
    start_point=start_point+1
print(result)

3628800

In [2]:
# Sum of  first 10 natural numbers using while loop

n=10
start_point=1
result=0
while start_point<=10:
    result=result+start_point
    start_point=start_point+1
print(result)

55

In [1]:
# Product of first 10 natural numbers using While loop

n=10
start_point=1
result=1
while start_point<=10:
    result=result*start_point
    start_point=start_point+1
print(result)

3628800

**************

Q3. Create a python program to compute the electricity bill for a household.

The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.
Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.

In [2]:
uc=int(input("Units Consumed="))

if uc<=100:
    a=uc*4.5
    print("Total Bill", a)

elif uc>100 and uc<=200:
    b=100*4.5 + (uc-100)*6
    print("Total Bill", b)

elif uc>200 and uc<=300:
    c=100*4.5 + 100*6 +(uc-200)*10
    print("Total Bill", c)

else:
    d=100*4.5 + 100*6 + 100*10 +(uc-300)*20
    print("Total Bill", d)

Units Consumed= 310

Total Bill 2250.0

**************************************

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [28]:
 # First we will create a list of numbers between 1-100 and store the list in l
    
n=100
l=[]
for i in range(n):
    l.append(i+1)
    
    # l is the list which includes the numbers between 1-100

In [35]:
# For loop to find cube of numbers and storing them in l2  and  the cubes which are divisible by 4 or 5 are stored in l3
# process carried out by using For loop using if condition

l2=[]
for i in l:
    l2.append(i*i*i)
    

l3=[]
for j in l2:
    if j%4==0 or j%5==0:
        l3.append(j)
        print(j)

8
64
125
216
512
1000
1728
2744
3375
4096
5832
8000
10648
13824
15625
17576
21952
27000
32768
39304
42875
46656
54872
64000
74088
85184
91125
97336
110592
125000
140608
157464
166375
175616
195112
216000
238328
262144
274625
287496
314432
343000
373248
405224
421875
438976
474552
512000
551368
592704
614125
636056
681472
729000
778688
830584
857375
884736
941192
1000000

In [36]:
# l5 is used to store the cubes of numbers between 1-100 and l7 includes the cubes which are divisible by 5 
# process carried out by using while loop using if statement

m=1
l5=[] 
l7=[]
while m<=100:
    a=m*m*m
    m=m+1
    l5.append(a)
    if a%4==0 or a%5==0:
        l7.append(a)
        print(a)

8
64
125
216
512
1000
1728
2744
3375
4096
5832
8000
10648
13824
15625
17576
21952
27000
32768
39304
42875
46656
54872
64000
74088
85184
91125
97336
110592
125000
140608
157464
166375
175616
195112
216000
238328
262144
274625
287496
314432
343000
373248
405224
421875
438976
474552
512000
551368
592704
614125
636056
681472
729000
778688
830584
857375
884736
941192
1000000

************************

Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [4]:
string = "I want to become a data scientist"

In [39]:
string

'I want to become a data scientist'

In [5]:
# Below code finds out only the count of vowel present in a string, it does not show any result for "u" as "u" is not present in the string.

vowel=input("enter the desired vowel")
n=string.count(vowel)
if n>0 and vowel=="a" or n>0 and vowel=="e" or n>0 and vowel=="i" or n>0 and vowel=="o" or n>0 and vowel=="u":
    print("Count", string.count(vowel))
else:
    print("incorrect input")

enter the desired vowel h

incorrect input